
.cover {
    background-color: rgb(157, 255, 0);
    // background: url('/logo.jpg') no-repeat center right;
     //border-radius:10px;
     //background-size: contain;
     padding: 10% 0;

    &Title {
        color: rgb(245, 87, 205);
        font-size: 8vw;
        line-height: 1.3;
        //font-weight: bold;
    }
}

@media screen and (min-width: 1000px) {
    .title {
       font-size: 144px;
    }
}

@media only screen and (max-width: 800px) {
    .coverTitle {
        margin-bottom: 2rem;
    }
}